name: tests-payments
# determine when we are going to run the workflow (code pushed/pull request created/pull request close/repo is forked)
on:
  # will run whenever pull_request created/updated/reopened
  pull_request
jobs:
  build:
    # we want to startup some kind of virtual machine which runs ubuntu OS
    runs-on: ubuntu-latest
    #script
    steps:
      # take all the code our our project
      - uses: actions/checkout@v2
      # run all the tests inside of auth service, test:ci runs test one time, not watching like npm run test doing
      - run: cd payments && npm install && npm run test:ci
